html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
header {
  position: sticky;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 100;
}
img {
  height: auto;
  width: 24px;
  display: block;
  order: 0;
  align-self: flex-start;
}
#header-title {
  order: 1;
  align-self: flex-start;
  margin: auto;
}
nav {
  order: 2;
  align-self: center;
  margin: auto;
  /* display: flex;
  flex-direction: row;
  align-items: space-between; */
}
.nav-link {
  display: inline-flex;
  border-radius: 10px;
  text-decoration-line: none;
  color: black;
  text-align: center;
  margin: 1em;
}

main {
  text-align: center;
}

@media screen and (min-width: 800px) {
  html, body {
    width: 800px;
    margin: auto;
  }
  /* main {
    background-color: rgba(35, 35, 35, 1);
    color: 1;
  } */
}
