html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(235, 235, 235, 1);
  /* display: flex;
  flex-direction: column; */
  font-family: sans-serif;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* height: 96px; */
  width: 100vw;
  z-index: 100;
  background-color: rgba(33, 33, 33, 1);
  color: lightgrey;
}
#header-img {
  /* height: auto; */
  max-height: 48px;
  max-width: 48px;
  display: block;
  /* margin-left: 1em; */
}
#header-title {
  /* margin: auto; */
  /* margin: auto 0 auto 0; */
 }
nav {
  /* margin: auto 0 auto 0; */
  /* display: inline-block; */
  /* display: flex;
  flex-direction: row;
  align-items: space-between; */
}
.nav-link {
  display: inline-flex;
  border-radius: 10px;
  text-decoration-line: none;
  color: rgba(136, 231, 218, 1);
  text-align: center;
  margin: 1em;
}

main {
  text-align: center;
}
#section-1 {
  padding-top: 80px;
}
.product-img {
  height: auto;
  max-width: 100%;
  display: block;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#gallery {
  border: solid black 1px;
  height: 66vh;
  width: 100vw;
  margin: 3em 0;
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: flex-start; */
  overflow-x: scroll;
}
#gallery video {
  height: auto;
  max-width: 100%;
}
#gallery img {
  height: auto;
  max-width: 100%;
}
#section-2 {
  padding-top: 80px;
}
#answer-table {
  /* border: solid black 1px; */
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin: 2em auto;
}

#answer-table .cell {
  max-width: 33.33%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: solid black 1px;
  overflow: scroll;
}

#answer-table h3 {
  /* display: none; */
}
#answer-table p {
  height: 30vh;
  /* display: none; */
}
#answer-table .img-container {
  max-width: 100%;
  height: 30vh;
  display: flex;
  /* border: solid black 1px; */

  /* flex-wrap: nowrap; */
}
#answer-table .table-img {
  height: auto;
  max-width: 100%;
  display: block;
}


/* #answer-table .product-img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
} */

#section-3 {
  padding-top: 80px;
}
form {
  margin: 1em;
}
form input {
  min-height: 48px;
  border-radius: 10px
}
a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(33, 33, 33, 1);
}
a:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
  background-color: rgba(33, 33, 33, 1);
  color: lightgrey;
  margin: 3em 0 0 0;
  padding: 1em 0 1em 0;
}

footer a {
  text-decoration: none;
  color: rgba(136, 231, 218, 1);
}

@media screen and (min-width: 1000px) {
  /* header {
    max-width: 1000px;
    margin: 0 auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  } */
  /* main {
    width: 800px;
    margin: auto;
  } */
  #section-1 {
    width: 1000px;
    margin: auto;
  }
  #section-2 {
    width: 1000px;
    margin: auto;
  }
  #section-3 {
    width: 1000px;
    margin: auto;
  }
  #gallery {
    margin: auto 0 auto 0;
    width: 100vw;
  }

  /* footer {
    width: 1000px;
    margin: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  } */
}
